.inputId-ctn {
    margin-top: 30px;
    padding: 20px;
    display: none;
    .input-ti {
        font-family: OpenSans-SemiBold;
        font-size: 16px;
    }
    .text-f-ctn {
        // width: 60%;
        margin-top: 10px;
    }
}